* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Sans-Serif;
}

html {
  height: 300vh;
  background-color: white;
@media screen and (max-width:1020px){
  
.conteine {
  max-width: 1020px;
  margin: auto;
}

.btn_contato{
 margin-left: 2%;
}

.flex {
  display: flex;
  align-items: center;
  text-align: center;
}

#header {
  width: 100%;
  padding: 20px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .3s;
}

header.rolagem {
  background-color: rgba(67, 110, 11, 0.432);
  padding: 10px 4%;
}

header.rolagem a {
  background-color: rgba(67, 110, 11, 0.432);
}

.iconi {
  font-size: 30px;
  color: #000000;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 15px;
}

header ul li a {
  color: #000000;
  font-size: 20px;
}

header a {
  text-decoration: none;
}


.banner {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
/* Estilos do main */
main {
  padding: 20px;
}

section {
  background: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #4CAF50;
}

/* Estilos do footer */
footer {
  background-image: url("/imagens/17.png");
}

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  section {
    margin: 10px;
  }

button {
  margin-top: 10px;
  padding: 10px;
  background: #036908;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-items: left;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
}

button:hover {
  background: #45a049;
}
}

}




.conteine {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
}

#header {
  width: 100%;
  padding: 10px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .3s;
  border-radius: 2px;
}

header.rolagem {
  background-color: rgba(67, 110, 11, 0.432);
  padding: 10px 4%;
}

header.rolagem a {
  color: #4CAF50;
}

.iconi {
  font-size: 30px;
  color: #000000;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 15px;
}

header ul li a {
  color: #000000;
  font-size: 20px;
}

header a {
  text-decoration: none;
}


.banner {
  height: 50vh;
  background-image: linear-gradient(to right,rgb(12, 68, 12),green);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

.banner h1 {
  font-size: 200%;
  top: auto;
  left: auto;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}
main {
  padding: 20px;
  
}

section {
  background: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

h2 {
  color: #4CAF50;
}

/* Estilos do footer */
footer {
  background-image: url("/imagens/17.png");
}

/* Responsividade */
@media (max-width: 600px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  section {
    margin: 10px;
  
  }
}

/* Estilos para a área de login */
#login {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn_contato{
  margin-right: 10px;
}



button {
  margin-top: 10px;
  padding: 10px;
  background: #036906;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-items: left;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
}

button:hover {
  background: #45a049;

}

