
        /* Estilo básico para a página e formulário */

        body {

          font-family: Arial, sans-serif;
          justify-content: center;
          height: 100vh;
          background-color: white;
        }
        
       #fundo{
     background-image:linear-gradient(to top,transparent 15%, white 35%), url('banner.jpg');
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: 50%;
   }
    #titulo{
  justify-self: center;
  padding-bottom: 8%;
  font-size: 30px;
 }
 .input{
   justify-content: center;
   justify-items: left;
   border-radius: 8px;
   padding: 8px;
   padding-left: 2%;
   margin-bottom: 10%;
   opacity: 70%;
   width:95%;
 }

 .p{
  background-color: aliceblue;
  border-radius: 3px;
  opacity: 80%;


 }
 .caixa{
  justify-content: center;
   justify-items: start;
   border-radius: 10px;
   padding: 10px;
   padding-left: 2%;
   margin-bottom: 20%;
   opacity: 70%;
   width: 95%;
 }

 #enviar{
   padding: 8px 15px;
   border-radius: 5px 10px;
   border: none;
   break-after: #a0fdb8c8;
 }
 
 #opcao{
   padding-left: 25% ;
 }

 #corriculo{
  justify-self: center;
 }
   
@media screen and (max-width:1020px){
   #fundo{
     background-image:linear-gradient(to top,transparent 15%, white 20%), url('banner.jpg') ;
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: 50%;
   }
}

 .input{
   justify-content: center;
   justify-items: left;
   border-radius: 8px;
   padding: 8px;
   padding-left: 2%;
   margin-bottom: 10%;
   opacity: 70%;
   width:95%;
 }

 .p{
  background-color: aliceblue;
  border-radius: 3px;
  opacity: 80%;
  text-align: center;


 }
 .caixa{
  justify-content: center;
   justify-items: start;
   border-radius: 10px;
   padding: 10px;
   padding-left: 2%;
   margin-bottom: 20%;
   opacity: 70%;
   width: 95%;
 }

