
body{
    backgrauod-color:#e0f2f1;
}
/* Estilos para a página de notícias */
#noticias {
    margin: 20px;
}

.noticia {
    background: #f9f9f9;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.noticia h3 {
    margin-top: 0;
}

.noticia p {
    margin: 10px 0;
}

.noticia a {
    color: #4CAF50;
    text-decoration: none;
}

.noticia a:hover {
    text-decoration: underline;
}



/* Estilos para a página da comunidade */
#comunidade {
    margin: 20px;
}

.evento {
    background: #e9f5e9;
    /* Um fundo diferente para eventos */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.evento h4 {
    margin-top: 0;
}

.evento p {
    margin: 10px 0;
}

.evento a {
    color: #4CAF50;
    text-decoration: none;
}

.evento a:hover {
    text-decoration: underline;
}



/* Estilos para o formulário de criação de currículo */
#curriculo {
    margin: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


/* Estilos para a tabela de cursos */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para a tabela de empregos */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Estilos para a lista de áreas de trabalho */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

strong {
    color: #4CAF50;
}
