
        /* Estilo básico para a página e formulário */

        body {

            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #e0f2f1;
            margin: 0;
        }

        #login {
            background-color: #ffffff;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px; /* Aumenta a largura do formulário */
            position: relative;
        }
        
        #btn3{
          padding:20px 125px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label, select, input, button {
            margin-bottom: 15px; /* Aumenta o espaço entre os elementos */
        }

        label {
            color: #2e7d32; /* Verde escuro */
        }

        select, input {
            padding: 12px;
            border: 1px solid #2e7d32;
            border-radius: 4px;
        }

        button {
            background-color: #2e7d32; /* Verde escuro */
            color: white;
            border: none;
            padding: 12px;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #1b5e20; /* Verde ainda mais escuro */
        }

        .logo {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 150px; /* Largura da imagem */
            height: 150px; /* Altura da imagem */
        }

        .button-secondary {
            background-color: #e0e0e0; /* Cor cinza claro */
            color: #2e7d32; /* Cor verde escuro */
            border: none;
            padding: 12px;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px; /* Espaço adicional acima do botão */
        }

        .button-secondary:hover {
            background-color: #c0c0c0; /* Cor cinza um pouco mais escuro */
        }

        /* Estilos para a tela de carregamento */
        #loading-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .spinner {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #2e7d32; /* Verde escuro */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }